@charset "UTF-8";
/**
 * Theme: Amagasa
 * Author: namikuguri
 * Description: 文章や写真、コードに存在感を持たせながらブログを書きたい人におすすめのテーマです。
 * Responsive: yes
 */
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css";
/* ====================
* 1. Base
* 2. Layout
* 3. Module
* 4. Page
* 5. Animation
* 6. Option
* 7. Customize
==================== */
/********************
* Base
*********************/
html {
  font-size: 87.5%; }
  @media screen and (min-width: 60rem) {
    html {
      font-size: 100%; } }

body {
  margin: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Helvetica Neue", "Segoe UI", "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, "メイリオ", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
  font-weight: 300;
  line-height: 1.618;
  color: #000; }

a {
  color: #0000ff;
  text-decoration: none; }
  a:active, a:hover {
    outline: 0; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #4682B4; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

small {
  font-size: 0.875rem; }

sub,
sup {
  position: relative;
  font-size: 0.875rem;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5rem; }

sub {
  bottom: 0.25rem; }

mark {
  background-color: #ffff00;
  color: #000; }

h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.382; }

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.382; }

h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem; }

h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 300; }

img {
  border: 0; }

figure {
  margin: 1rem 2rem; }

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-top: 1px solid #ccc;
  border-bottom: none; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: inherit; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  box-sizing: border-box; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  margin: 0;
  padding: 1rem;
  border: 1px solid #ccc; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

::selection {
  background-color: #7fffd4; }

::-moz-selection {
  background-color: #7fffd4; }

/********************
* Layout
*********************/
#globalheader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0000ff;
  color: #fff; }
  @media screen and (min-width: 60rem) {
    #globalheader-container {
      position: fixed; } }

#container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem; }

#blog-title {
  height: 22.92rem;
  background-color: #0000ff;
  color: #fff; }

#top-box {
  padding: 0.5rem;
  background-color: #f5f5f5; }

#content {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 60rem; }
  #content:after {
    content: "";
    display: block;
    clear: both; }
  @media screen and (min-width: 60rem) {
    #content {
      margin-top: 4rem;
      padding: 0 1rem; } }

#wrapper {
  padding: 0 1rem;
  box-sizing: border-box; }
  @media screen and (min-width: 60rem) {
    #wrapper {
      float: left;
      padding: 0;
      max-width: 40rem;
      width: 100%; } }

#box1 {
  padding: 0 1rem; }

@media screen and (min-width: 60rem) {
  #box2 {
    float: right;
    max-width: 16rem;
    width: 100%; } }

#footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem; }
  @media screen and (min-width: 60rem) {
    #footer {
      margin-top: 6rem; } }

/********************
* Module
*********************/
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #000; }
  h1 a:hover, h1 a:visited,
  h2 a:hover,
  h2 a:visited,
  h3 a:hover,
  h3 a:visited,
  h4 a:hover,
  h4 a:visited,
  h5 a:hover,
  h5 a:visited,
  h6 a:hover,
  h6 a:visited {
    color: #000;
    text-decoration: none; }

a.keyword {
  border-bottom: 1px dotted #ccc;
  color: #000; }

.date a,
.categories a {
  font-size: 1rem; }

.date a {
  color: #000; }

.categories a {
  display: inline-block;
  margin-right: 0.5rem;
  color: #767676; }

.bookmark-widget-counter {
  display: none; }

#blog-title-inner {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%; }

#blog-title-content {
  text-align: center; }

#title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  line-height: 1.382; }
  #title a {
    color: #fff; }

#blog-description {
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 300; }

.breadcrumb {
  margin: 0 auto;
  max-width: 60rem; }
  @media screen and (min-width: 60rem) {
    .breadcrumb {
      font-size: 0.875rem; } }

.breadcrumb-link {
  color: #4682B4; }
  .breadcrumb-link:visited {
    color: #4682B4; }

.entry {
  position: relative;
  margin-bottom: 6rem; }

.entry-header {
  position: relative;
  margin-bottom: 1.5rem;
  border-bottom: none; }
  .entry-header .entry-date {
    font-weight: bold; }
  .entry-header .entry-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 1.382; }
  .entry-header .entry-categories {
    margin-top: 0.25rem; }
  .entry-header .entry-header-menu {
    position: absolute;
    top: 2rem;
    left: -1rem; }
    @media screen and (min-width: 60rem) {
      .entry-header .entry-header-menu {
        position: absolute;
        top: 2rem;
        left: -4rem; } }
    .entry-header .entry-header-menu a {
      display: inline-block;
      padding: 0.25rem 0.5rem;
      color: #000;
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 3px;
      text-decoration: none;
      cursor: pointer; }
      .entry-header .entry-header-menu a:hover {
        border-color: #ccc;
        color: #ccc; }
      @media screen and (min-width: 60rem) {
        .entry-header .entry-header-menu a {
          font-size: 0.875rem; } }

.entry-content p {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.entry-content a {
  text-decoration: underline; }
  .entry-content a:hover {
    text-decoration: none; }

.entry-content a.keyword {
  border-bottom: none;
  text-decoration: none; }

.entry-content img {
  max-width: 100%; }

.entry-content .hatena-fotolife {
  display: block;
  margin: 0 auto 1rem; }
  @media screen and (min-width: 60rem) {
    .entry-content .hatena-fotolife {
      margin-left: 0;
      margin-right: 0; } }

.entry-content .hatena-image-left,
.entry-content .hatena-image-right {
  float: none;
  margin-left: 0;
  margin-right: 0; }

@media screen and (min-width: 60rem) {
  .entry-content .hatena-image-left {
    float: left;
    margin-right: 1rem; } }

@media screen and (min-width: 60rem) {
  .entry-content .hatena-image-right {
    display: inline-block;
    float: right;
    margin-left: 1rem; } }

.entry-content ul,
.entry-content ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem; }
  .entry-content ul ul,
  .entry-content ul ol,
  .entry-content ol ul,
  .entry-content ol ol {
    margin-top: 0;
    margin-bottom: 0; }

.entry-content dl {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem; }
  .entry-content dl dt {
    font-weight: bold;
    font-style: italic; }
  .entry-content dl dd {
    margin-left: 1rem; }

.entry-content table {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .entry-content table th,
  .entry-content table td {
    padding: 0.5rem;
    border: 1px solid #ccc; }
  .entry-content table th {
    background-color: #f5f5f5; }
  .entry-content table img {
    max-width: none; }

.entry-content blockquote {
  margin: 1rem;
  margin-right: 0;
  padding-left: 1rem;
  border-left: 4px solid #ccc; }
  .entry-content blockquote p {
    margin-top: 0;
    margin-bottom: 0; }
  .entry-content blockquote cite {
    display: inline-block;
    margin-top: 1rem;
    font-size: 0.875rem; }
    .entry-content blockquote cite:before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1px;
      background-color: #000;
      vertical-align: middle; }
    .entry-content blockquote cite a {
      color: #000; }

.entry-content code,
.entry-content pre {
  border: none;
  border-radius: 3px; }

.entry-content pre {
  background-color: #000;
  color: #fff;
  font-size: 0.875rem; }

.entry-content code {
  display: inline-block;
  padding: 0;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-color: transparent;
  font-size: 0.875rem; }

.entry-content pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem; }

.entry-content .hatena-asin-detail {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem; }
  .entry-content .hatena-asin-detail .hatena-asin-detail-image {
    margin-right: 1rem; }
  .entry-content .hatena-asin-detail .hatena-asin-detail-title {
    margin-bottom: 0.5rem; }
  .entry-content .hatena-asin-detail ul {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.875rem; }

.entry-footer {
  margin-top: 2rem; }
  .entry-footer .entry-footer-section {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    color: #767676; }
    .entry-footer .entry-footer-section .entry-footer-time a {
      color: #767676; }
  .entry-footer .hatena-star-container {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem; }
  .entry-footer .social-buttons {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem; }
  .entry-footer .comment-box ul {
    margin: 0;
    margin-bottom: 1rem;
    padding-left: 0;
    font-size: 1rem;
    list-style: none; }
    .entry-footer .comment-box ul li {
      position: relative;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      padding-left: 4.5rem;
      border-radius: 3px;
      background-color: #f5f5f5; }
    .entry-footer .comment-box ul .comment-user-name {
      margin-top: 0;
      margin-bottom: 0; }
    .entry-footer .comment-box ul .comment-user-id {
      color: #4682B4; }
      .entry-footer .comment-box ul .comment-user-id:visited {
        color: #4682B4; }
    .entry-footer .comment-box ul .hatena-id-icon {
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      width: 3rem !important;
      height: 3rem !important;
      border-radius: 50%; }
    .entry-footer .comment-box ul .comment-content {
      margin-bottom: 1rem;
      font-size: 1rem;
      word-wrap: break-word; }
      .entry-footer .comment-box ul .comment-content p {
        margin-top: 0; }
    .entry-footer .comment-box ul .comment-metadata {
      font-size: 0.875rem;
      color: #767676; }
  .entry-footer .leave-comment-title {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    background-color: #0000ff;
    font-weight: bold;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.875rem; }
    .entry-footer .leave-comment-title:hover {
      opacity: 0.75;
      transition: 0.3s; }
  .entry-footer .hatena-module-related-entries .hatena-module-title {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.382; }
  .entry-footer .hatena-module-related-entries .hatena-urllist {
    padding-left: 0; }
    .entry-footer .hatena-module-related-entries .hatena-urllist li {
      margin-top: 1rem;
      margin-bottom: 1rem; }
    .entry-footer .hatena-module-related-entries .hatena-urllist .urllist-title-link {
      font-size: 1.25rem;
      font-weight: bold; }
  .entry-footer .hatena-module-related-entries .urllist-with-thumbnails li .urllist-image {
    margin-right: 1rem;
    width: 6rem;
    height: 6rem;
    border-radius: 3px; }
  .entry-footer .google-afc-image,
  .entry-footer .google-afc-text {
    margin-top: 1rem;
    margin-bottom: 1rem; }

.pager {
  position: relative;
  margin-top: 6rem;
  margin-bottom: 6rem; }
  .pager:after {
    content: "";
    display: block;
    clear: both; }
  .pager .pager-prev,
  .pager .pager-next {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    background-color: #f5f5f5; }
    @media screen and (min-width: 60rem) {
      .pager .pager-prev,
      .pager .pager-next {
        max-width: 45%;
        background-color: transparent;
        margin: 0;
        padding: 0; } }
    .pager .pager-prev a,
    .pager .pager-next a {
      display: inline-block;
      font-weight: bold;
      color: #4682B4;
      vertical-align: middle;
      cursor: pointer; }
      @media screen and (min-width: 60rem) {
        .pager .pager-prev a,
        .pager .pager-next a {
          width: auto; } }
      .pager .pager-prev a:hover,
      .pager .pager-next a:hover {
        text-decoration: none; }
      .pager .pager-prev a:visited,
      .pager .pager-next a:visited {
        color: #4682B4; }
      .pager .pager-prev a .pager-arrow,
      .pager .pager-next a .pager-arrow {
        display: none; }
  .pager .pager-prev {
    position: relative; }
    @media screen and (min-width: 60rem) {
      .pager .pager-prev {
        float: left; } }
    .pager .pager-prev:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0.5rem;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      width: 1.25rem;
      height: 1.25rem;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 16 16'><polygon fill='%234682B4' fill-rule='evenodd' points='3 14.114 4.886 16 12.886 8 4.886 0 3 1.886 9.114 8' transform='matrix(-1 0 0 1 15.886 0)'/></svg>");
      background-repeat: no-repeat;
      background-size: contain; }
      @media screen and (min-width: 60rem) {
        .pager .pager-prev:before {
          left: 0;
          width: 1rem;
          height: 1rem; } }
    .pager .pager-prev:hover:before {
      animation-duration: 0.5s;
      animation-name: animation-floating-left;
      animation-iteration-count: infinite;
      animation-direction: alternate; }
    .pager .pager-prev a {
      padding-left: 1.5rem; }
  .pager .pager-next {
    position: relative;
    text-align: right; }
    @media screen and (min-width: 60rem) {
      .pager .pager-next {
        float: right; } }
    .pager .pager-next:after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0.5rem;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      width: 1.25rem;
      height: 1.25rem;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 16 16'><polygon fill='%234682B4' fill-rule='evenodd' points='3 14.114 4.886 16 12.886 8 4.886 0 3 1.886 9.114 8'/></svg>");
      background-repeat: no-repeat;
      background-size: contain; }
      @media screen and (min-width: 60rem) {
        .pager .pager-next:after {
          right: 0;
          width: 1rem;
          height: 1rem; } }
    .pager .pager-next:hover:after {
      animation-duration: 0.5s;
      animation-name: animation-floating-right;
      animation-iteration-count: infinite;
      animation-direction: alternate; }
    .pager .pager-next a {
      padding-right: 1.5rem; }

#footer-inner {
  font-size: 0.875rem;
  color: #000;
  text-align: center; }
  #footer-inner p {
    margin-top: 0;
    margin-bottom: 0; }
  #footer-inner a {
    color: #000; }
  #footer-inner address img {
    vertical-align: middle; }

.hatena-module a {
  color: #4682B4; }

.hatena-module .hatena-module-title a {
  color: #000; }
  .hatena-module .hatena-module-title a:hover {
    text-decoration: none; }
  .hatena-module .hatena-module-title a:visited {
    color: #000; }

#box2-inner .hatena-module {
  padding: 1rem;
  box-sizing: border-box;
  margin-bottom: 0; }
  @media screen and (min-width: 60rem) {
    #box2-inner .hatena-module {
      margin-bottom: 2rem;
      padding: 0;
      font-size: 0.875rem; } }
  #box2-inner .hatena-module:nth-child(odd) {
    background-color: #f5f5f5; }
    @media screen and (min-width: 60rem) {
      #box2-inner .hatena-module:nth-child(odd) {
        background-color: transparent; } }

.hatena-module-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold; }

.hatena-urllist {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1.25rem;
  list-style: disc; }
  .hatena-urllist .urllist-title-link {
    font-size: inherit; }
  .hatena-urllist .urllist-date-link {
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1.382; }
    .hatena-urllist .urllist-date-link a {
      color: #000; }
  .hatena-urllist .urllist-category-link {
    font-size: 0.875rem;
    margin-right: 0.5rem; }
  .hatena-urllist .urllist-entry-body {
    font-size: 1rem; }

.hatena-module-profile .id {
  display: block;
  font-size: 1rem;
  font-weight: bold; }

.hatena-module-profile .profile-icon {
  float: left;
  margin-right: 0.75rem;
  margin-bottom: 0.75rem;
  border-radius: 3px; }

.hatena-module-profile .hatena-id-link {
  font-weight: normal; }

.hatena-module-profile .profile-description p {
  margin-top: 0;
  margin-bottom: 0; }

.hatena-module-profile .hatena-follow-button-box {
  margin-top: 0.75rem;
  margin-bottom: 0; }

.hatena-module-circles .hatena-urllist {
  padding-left: 0; }
  .hatena-module-circles .hatena-urllist li {
    margin-bottom: 0.5rem; }
    .hatena-module-circles .hatena-urllist li a {
      vertical-align: middle; }

.hatena-module-circles .circle-urllist .circle-image {
  margin-right: 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 3px; }

.hatena-module-authors-list .hatena-urllist {
  padding-left: 0; }
  .hatena-module-authors-list .hatena-urllist li {
    margin-bottom: 0.5rem; }
    .hatena-module-authors-list .hatena-urllist li a {
      display: flex;
      align-items: center; }
  .hatena-module-authors-list .hatena-urllist .authors-user-icon {
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%; }
  .hatena-module-authors-list .hatena-urllist .authors-user-name {
    vertical-align: middle; }

.hatena-module-recent-comments .hatena-urllist {
  padding-left: 0;
  list-style: none; }
  .hatena-module-recent-comments .hatena-urllist li {
    margin-bottom: 0.5rem; }
  .hatena-module-recent-comments .hatena-urllist .user-id {
    display: flex;
    align-items: center;
    margin-bottom: 0.25rem; }
    .hatena-module-recent-comments .hatena-urllist .user-id .hatena-id-icon {
      margin-right: 0.5rem;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      vertical-align: middle; }

.hatena-module-search-box .search-form {
  position: relative;
  box-sizing: border-box;
  width: 100%; }

.hatena-module-search-box .search-module-input {
  padding: 0.5rem;
  padding-right: 12%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: none;
  background-color: #fff;
  color: #000;
  line-height: 1.382;
  outline: none; }
  .hatena-module-search-box .search-module-input:focus {
    border-color: #4682B4;
    transition: 0.3s; }
    .hatena-module-search-box .search-module-input:focus + .search-module-button {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 16 16'><path fill='%234682B4' d='M11.7489008,10.3346872 L15.9568544,14.5426409 L14.5426409,15.9568544 L10.3346872,11.7489008 C9.2597335,12.5355664 7.9341039,13 6.5,13 C2.91014913,13 0,10.0898509 0,6.5 C0,2.91014913 2.91014913,0 6.5,0 C10.0898509,0 13,2.91014913 13,6.5 C13,7.9341039 12.5355664,9.2597335 11.7489008,10.3346872 Z M6.5,11 C8.98528137,11 11,8.98528137 11,6.5 C11,4.01471863 8.98528137,2 6.5,2 C4.01471863,2 2,4.01471863 2,6.5 C2,8.98528137 4.01471863,11 6.5,11 Z'/></svg>"); }

.hatena-module-search-box .search-module-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.75rem;
  margin-top: auto;
  margin-bottom: auto;
  width: 0.75rem;
  height: 0.75rem;
  border: none;
  background-color: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 16 16'><path fill='%23767676' d='M11.7489008,10.3346872 L15.9568544,14.5426409 L14.5426409,15.9568544 L10.3346872,11.7489008 C9.2597335,12.5355664 7.9341039,13 6.5,13 C2.91014913,13 0,10.0898509 0,6.5 C0,2.91014913 2.91014913,0 6.5,0 C10.0898509,0 13,2.91014913 13,6.5 C13,7.9341039 12.5355664,9.2597335 11.7489008,10.3346872 Z M6.5,11 C8.98528137,11 11,8.98528137 11,6.5 C11,4.01471863 8.98528137,2 6.5,2 C4.01471863,2 2,4.01471863 2,6.5 C2,8.98528137 4.01471863,11 6.5,11 Z'/></svg>");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  outline: none;
  text-indent: -9999px;
  cursor: pointer; }
  .hatena-module-search-box .search-module-button:hover {
    opacity: 0.75; }

/********************
* Page
*********************/
.archive-heading {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.382; }

.ad + .archive-heading {
  margin-top: 2rem; }

.page-archive .archive-entry {
  margin-top: 2rem;
  margin-bottom: 2rem; }
  .page-archive .archive-entry:first-child {
    margin-top: 0; }
  .page-archive .archive-entry .date a {
    font-size: 0.875rem;
    color: #000; }
  .page-archive .archive-entry .entry-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    line-height: 1.382; }
  .page-archive .archive-entry .categories {
    margin-bottom: 0.5rem; }
  .page-archive .archive-entry .entry-thumb {
    margin-right: 1rem;
    width: 6rem;
    height: 6rem;
    border-radius: 3px; }
  .page-archive .archive-entry .entry-description {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem; }
  .page-archive .archive-entry .social-buttons,
  .page-archive .archive-entry .entry-footer-html {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0; }

.archive-header-category {
  margin-top: 0;
  margin-bottom: 2rem; }
  .archive-header-category .archive-heading {
    margin-bottom: 1rem;
    font-size: 2rem; }

.ad + .archive-header-category {
  margin-top: 2rem; }

.search-result {
  margin-top: 0;
  margin-bottom: 2rem; }
  .search-result .archive-heading {
    margin-bottom: 0.5rem;
    font-size: 2rem; }

.ad + .search-result {
  margin-top: 2rem; }

.page-archive span.highlight {
  background-color: #ffff00;
  border: none;
  border-radius: 3px;
  color: #000;
  margin: 0;
  padding: 0 0.25rem;
  font-weight: inherit; }

.page-about dl {
  margin: 0; }
  .page-about dl dt {
    margin-bottom: 0;
    border-bottom: none;
    font-size: 1rem;
    font-weight: bold;
    font-style: normal; }
  .page-about dl dd {
    margin-left: 0;
    margin-bottom: 2rem; }

/********************
* Animation
*********************/
@keyframes animation-floating-left {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-0.25rem); } }

@keyframes animation-floating-right {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(0.25rem); } }

/********************
* Option
*********************/
/* --- ソーシャルボタンを配置、カウント付きソーシャルボタンを配置 --- */
.custom-share-buttons {
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .custom-share-buttons .custom-share-buttons-link {
    display: inline-block; }
    .custom-share-buttons .custom-share-buttons-link:hover {
      text-decoration: none;
      opacity: 0.75; }
      .custom-share-buttons .custom-share-buttons-link:hover [class*=blogicon-].lg {
        animation-duration: 0.3s;
        animation-name: animation-swing;
        animation-iteration-count: 2;
        animation-direction: alternate; }
    .custom-share-buttons .custom-share-buttons-link + .custom-share-buttons-link {
      margin-left: 1rem; }
    .custom-share-buttons .custom-share-buttons-link.hatena-bookmark-button {
      color: #008fde; }
    .custom-share-buttons .custom-share-buttons-link.facebook-button {
      color: #3b5998; }
    .custom-share-buttons .custom-share-buttons-link.twitter-button {
      color: #1da1f2; }
  .custom-share-buttons [class*=blogicon-].lg {
    font-size: 1.5rem;
    line-height: 1;
    vertical-align: -15%; }
    .custom-share-buttons [class*=blogicon-].lg.blogicon-bookmark {
      font-size: 1.6rem;
      vertical-align: -12%; }
    .custom-share-buttons [class*=blogicon-].lg.blogicon-facebook, .custom-share-buttons [class*=blogicon-].lg.blogicon-twitter {
      font-size: 1.4rem; }
  .custom-share-buttons .custom-share-buttons-link-text {
    font-weight: bold; }

@keyframes animation-swing {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(-15deg); }
  100% {
    transform: rotate(15deg); } }

/* --- 記事内モジュール ---*/
.entry-content .custom-image-centered img {
  margin-left: auto;
  margin-right: auto; }

.entry-content .custom-image-full img {
  width: 100%; }
